# De-Insure Device Firmware Configuration
WIFI_SSID="Your_WiFi_SSID"
WIFI_PASS="Your_WiFi_Password"
AWS_IOT_ENDPOINT="avlxhxuyvpb4m-ats.iot.eu-north-1.amazonaws.com"
AWS_IOT_PORT=8883
MQTT_TOPIC="deinsure/telemetry"
DEVICE_ID="ESP32_DeInsure_Node1"
